.app {
  height: inherit;
}
.appbar-title {
  flex-grow: 1;
}
.placeholder {
  position: relative;
  top: calc(50% - 100px);
  width: 100%;
  text-align: center;
  color: white;
  svg {
    font-size: 6.3rem;
  }
  p {
    margin: 0;
  }
  &.error {
    color: #D32F2F;
  }
}
