.day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #37474f;
  /* background-color: #282c34;
  transition: background-color 1s; */
}
.day.filler {
  cursor: not-allowed;
  background: repeating-linear-gradient(-45deg, #37474f, #37474f 3px, #282c34 3px, #282c34 6px)
}
.note-indicator {
  display: none;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
}
.year:hover {
  .note-indicator {
    display: block;
  }
}
