.app {
  height: inherit;
}
.appbar-title {
  flex-grow: 1;
}
.cloud-saving {
  margin: 12px;
}
.app-loading {
  position: relative;
  top: calc(50% - 100px);
  left: calc(50% - 50px);
  width: fit-content;
}
