.app {
  height: inherit;
}
.appbar-title {
  flex-grow: 1;
}
.cloud-btn {
  .cloud-saving {
    margin: 12px;
  }
}
.placeholder {
  position: relative;
  top: calc(50% - 100px);
  width: 100%;
  text-align: center;
  color: #D32F2F;
  svg {
    font-size: 6.3rem;
  }
  p {
    margin: 0;
  }
}
