.day {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #37474f;
  &.filler {
    cursor: not-allowed;
    background: repeating-linear-gradient(-45deg, #37474f, #37474f 3px, #282c34 3px, #282c34 6px)
  }
  &.blink {
    animation: blinking 2s linear infinite;
  }
  @keyframes blinking {
    50% {
      background-color: white;
    }
  }
}
.note-indicator {
  display: none;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
}
.year:hover {
  .note-indicator {
    display: block;
  }
}
